.drawToolSvg {
  cursor: pointer;
  transition: all 0.25s linear;
  border-radius: 50%;
  padding: 2px;
  border: 2px solid white;
}
.drawToolSvg:hover {
  transition: all 0.25s linear;
  transform: translateY(-5px);
  background: var(--primary-background);
}

.upSide {
  transform: rotate(0deg);
  transition: all 0.35s linear;
}
.downSide {
  transition: all 0.35s linear;
  transform: rotate(180deg);
}
.sendLogo {
  transition: all 0.1s linear;
  width: 95%;
  transform: scaleY(0.9) scaleX(0.95);
}
.sendLogo > path:first-child {
  transform: translateX(3px);
  transition: all 0.2s linear;
}
.sendLogo:hover {
  cursor: pointer;
  transform: scale(1.1) rotate(-1deg);
}
.sendLogo:hover > path:first-child {
  transform: translateX(0px);
}
