.switchButtonContainer {
  margin-inline: 5%;
  font-family: var(--font-family-secondary);
  text-transform: uppercase;
  font-size: clamp(12px, 1.6vw, 16px);
}
.switchButtonContainer > input {
  appearance: none;
  background-color: #fff;
  font: inherit;
  margin-bottom: 0%;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid black;
  border-radius: 0.15em;
  transform: translateY(0.15em);
  cursor: pointer;
  transition: all 0.35s ease-in-out;
}
.switchButtonContainer > label {
  color: white;
}
.switchButtonContainer > input:checked {
  background-color: var(--secondary-background);
  border: 0.5px solid var(--secondary-background);
}
.switchButtonContainer > input:disabled {
  cursor: not-allowed;
  opacity: 0.75;
}
